#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2.6.2
Name=CloudCompare
GenericName=Mesh processing
Comment=View and process meshes
Type=Application
Exec=CloudCompare %U
TryExec=CloudCompare
Icon=/usr/share/pixmaps/cc_icon_256.png
Terminal=false
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
Categories=Graphics;3DGraphics;Viewer;Qt;
Name[en_US]=CloudCompare
