#!/usr/bin/env xdg-open

[Desktop Entry]
Version=2.6.2
Name=ccViewer
GenericName=PointCloud and Mesh viewer
Comment=View PointClouds and Meshes
Type=Application
Exec=ccViewer %U
TryExec=ccViewer
Icon=/usr/share/pixmaps/cc_viewer_icon_256.png
Terminal=false
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
Categories=Graphics;3DGraphics;Viewer;Qt;
Name[en_US]=ccViewer
